*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  transition: 0.6s;
  background: #fff;
  box-shadow: 0 10px 15px rgb(219, 215, 215);
}
.header .brand{
  color: #000;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
header .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menua{
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  margin: 0 15px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color;
}
header .menu a:hover{
  color: #fff;
  background: #1483d5;
  padding: 8px 20px;
  transition: 1s;
}
header .btn{
  color: #000;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
/*Video Background*/
.main{
  width: 100%;
  height: 100vh;
  background: rgb(12,3,51,0.3);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: opacity(90%);
}
.content{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .text{
  width: 100%;
}
.text h1{
  font-size: 5rem;
  color: #fff;
}
.text h2{
  font-size: 5rem;
  color: #fff;
}
.text h3{
  font-size: 1.5rem;
  color: #fff;
}
.text span{
  font-weight: 500;
}
.content .slide{
  width: 100%;
  max-width: 650px;
}
.slide img{
  width: 550px;
}
.text h3{
  font-size: 1.5rem;
  color:#fff;
}
.text span{
  font-weight:500;
}
.content .slide{
  width:100%;
  max-width:650px;
}
.slide img{
  width:550px;
}

/*menus*/

.menus{
  width:100%;
  height:160vh;
  text-align:center;
  background-color:#f9f9f9;
}
.menus h1{
  font-size:2.6rem;
  padding:20px 0;
}
.menus .three-col{
  width:90%;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content:center;
}
.three-col imh{
  width:100%;
  max-width:380px;
  padding:0 10px;
}
.col detials{
  width:80%;
  margin:0 auto;
  padding:20px 0;
  display:flex;
  justify-content:space-between;
}
.details h3{
  font-size:1.6rem;
}
.details h2{
  font-size:1.6rem;
  padding:5px 20px;
  background-color: #f5cfcf;
  border-radius: 5px;
}

/*background*/

.background{
  width:100%;
  height:80vh;
  background: url(../images/background.jpg);
  background-position:top;
  background-size: cover;
  background-attachment:fixed;
}

/*news section*/

.two-section h1{
  font-size:3rem;
  font-family:sans-serif;
  padding:50px 0;
}.two-section .section{
  width:90%;
  display:flex;
  margin:0 auto;
}
.section .inner{
  width:100%;
  max-width:50%;
  height:350px;
  padding:50px 20px 10px;
  margin:10px;
  display:flex;
  align-items:flex-end;
  text-align:left;
}
.section .one{
  background: url(../images/news/news1.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.section .two{
  background: url(../images/news/news1.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.section .one:hover,
.section .two:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.section .tag p{
  width:100px;
  font-size:1rem;
  color:#fff;
  background:#dc3545;
  padding:10px 20px;
  border-radius:5px;
  margin-bottom:10px;
}
.section .tag a{
  text-decoration:none;
  color:#fff;
}
.three-sec{
  width:90%;
  margin: 0 auto;
  display:flex;
  align-items:center;
  justify-content:center;
}
.three-sec .inner-sec{
  width:100%;
  max-width:380px;
  height:400px;
  padding:5px;
}
.inner-sec img{
  width:100%;
  max-width:400px;
}
.inner-sec .detail{
  width:100%;
  text-align:left;
  padding:10px 20px;
  display:flex;
  justify-content:space-between;
}
.detail h3{
  padding:10px 15px;
  background-color:#0dcaf0;
  color:#fff;
  font-size:1rem;
  border-radius:5px;
}
.detail h3:hover{
  background:#dc3545;
  transition: 1s;
}
.detail h2{
  font-size:1.3rem;
}
.heading h2{
  font-size:1.3rem;
  color:#292828;
}
.heading h2:hover{
  color:#dc3545;
  transition:0.5s;
}

/*footer*/

.footer{
  width:100%;
  height:70vh;
  background: url(../images/footer.jpg);
  background-position:center;
  background-size:cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
}
.footer h1{
  font-size:2rem;
  color:#fff;
  padding: 50px 100px;
}
.three-secyion{
  width:80%;
  margin: 0 auto;
  display:flex;
  justify-content:space-between;
}
.three-section .one{
  text-align:left;
}
.one h1{
  font-size:1.6rem;
  text-align:left;
  padding:20px 0;
}
.one h2{
  font-size:1.3rem;
  color:#aaa;
  line-height:2rem;
  padding-bottom:20px;
}
.one a{
  text-decoration: none;
  padding: 10px 15px;
  color:#fff;
  background:#4b4949;
  font-weight: 600;
}
header{
  z-index: 99;
}
/*responsive section*/

@media screen and (max-width:1060px) {
  header .bth{
    display:block;
  }
  header .menu{
    position: fixed;
    background: #1483d5;
    flex-direction: column;
    min-width:100%;
    height:100vh;
    top:0;
    right:-100%;
    padding:80px 50px;
    transition:0.5s;
    transition-property:right;
  }
  header .menu.active{
    right:0;
  }
  header .menu .close-btn{
    position: absolute;
    top:0;
    left:0;
    margin:25px;
  }
  header .menu a{
    display:block;
    font-size:20px;
    margin:20px;
    padding:0 15px;
    background:#dc3645;
  }
}

/*for video background*/
@media (max-aspect-ratio:16/9){
  .video{
  width:auto;
  height:100%;
 }  
}

/*others element*/
@media screen and (max-width:980px) {
  .content{
    flex-wrap:wrap-reverse;
  }
  .content .text{
    width:100%;
  }
  .text h1{
    font-size:7rem;
    padding-top:30px;
  }
  .text h2{
    font-size:7rem;
  }
  .text h3{
    font-size:2rem;
  }
  .slide img{
    width:100%;
  }
  /*menus*/
.menus{
  width:100%;
  height:400vh;
}
.three-col img{
  width:100%;
  max-width:600px;
  padding:0 10px;
}
.col .details{
  width:50%;
}
/*background*/
.background{
  height:50vh;
}
/*news section*/
.two-section{
  height:250vh;
}
.two-section .section{
  flex-wrap:wrap;
  width:100%
}
.section .inner{
  max-width:70%;
  height:400px;
  margin:10px auto;
}
.section .one,
.section .two{
  width:100%;
  background-repeat:no-repeat;
}
.three-sec{
  width:100%;
  flex-wrap:wrap;
}
.three-sec .inner-sec{
  width:100%;
  max-width:70%;
  margin:70px auto;
}
.inner-sec img{
  width:100%;
  max-width:100%;
}
/*footer*/
.one{
  width:100%;
}
.three-section .one{
  text-align:center;
}
.three-section .one > h1{
  text-align:center;
}
}
@media screen and (max-width:600px) {
  .menus{
    width:100%;
    height:370vh;
  }
  .two-section{
    Height:230vh;
  }
  .three-sec .inner-sec{
    max-width:90%;
    margin:40px auto;
  }
  .section .inner{
    max-width:90%;
  }
}